<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>student.servlet.test</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddStuServlet</servlet-name>
    <servlet-class>admin.servlet.AddStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStuServlet</servlet-name>
    <url-pattern>/addStu</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddTeaServlet</servlet-name>
    <servlet-class>admin.servlet.AddTeaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeaServlet</servlet-name>
    <url-pattern>/addTea</url-pattern>
  </servlet-mapping>
</web-app>
