<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>student.servlet.test</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddStuServlet</servlet-name>
    <servlet-class>admin.servlet.AddStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStuServlet</servlet-name>
    <url-pattern>/addStu</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddTeaServlet</servlet-name>
    <servlet-class>admin.servlet.AddTeaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeaServlet</servlet-name>
    <url-pattern>/addTea</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UpdateStuServlet</servlet-name>
    <servlet-class>admin.servlet.UpdateStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStuServlet</servlet-name>
    <url-pattern>/updateStu</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SearchByStuNum</servlet-name>
    <servlet-class>admin.servlet.SearchByStuNum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchByStuNum</servlet-name>
    <url-pattern>/searchByStuNum</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DeleteStuServlet</servlet-name>
    <servlet-class>admin.servlet.DeleteStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStuServlet</servlet-name>
    <url-pattern>/deleteStu</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SearchByTeaNum</servlet-name>
    <servlet-class>admin.servlet.SearchByTeaNum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchByTeaNum</servlet-name>
    <url-pattern>/searchByTeaNum</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UpdateTeaServlet</servlet-name>
    <servlet-class>admin.servlet.UpdateTeaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTeaServlet</servlet-name>
    <url-pattern>/updateTea</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DeleteTeaServlet</servlet-name>
    <servlet-class>admin.servlet.DeleteTeaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTeaServlet</servlet-name>
    <url-pattern>/deleteTea</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SearchByCouNum</servlet-name>
    <servlet-class>admin.servlet.SearchByCouNum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchByCouNum</servlet-name>
    <url-pattern>/searchByCouNum</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UpdateCouServlet</servlet-name>
    <servlet-class>admin.servlet.UpdateCouServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCouServlet</servlet-name>
    <url-pattern>/updateCou</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DeleteCouServlet</servlet-name>
    <servlet-class>admin.servlet.DeleteCouServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCouServlet</servlet-name>
    <url-pattern>/deleteCou</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddCouServlet</servlet-name>
    <servlet-class>admin.servlet.AddCouServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCouServlet</servlet-name>
    <url-pattern>/addCou</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>LimitUserLogin</servlet-name>
    <servlet-class>admin.servlet.LimitUserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LimitUserLogin</servlet-name>
    <url-pattern>/limitLogin</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SelectByStuInfo</servlet-name>
    <servlet-class>admin.servlet.SelectByStuInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectByStuInfo</servlet-name>
    <url-pattern>/selectByStuInfo</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SelectByTeaInfo</servlet-name>
    <servlet-class>admin.servlet.SelectByTeaInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectByTeaInfo</servlet-name>
    <url-pattern>/selectByTeaInfo</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddNoticeServlet</servlet-name>
    <servlet-class>admin.servlet.AddNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNoticeServlet</servlet-name>
    <url-pattern>/addNoticeBar</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SearchByNoticeNum</servlet-name>
    <servlet-class>admin.servlet.SearchByNoticeNum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchByNoticeNum</servlet-name>
    <url-pattern>/searchByNoticeNum</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UpdateNoticeServlet</servlet-name>
    <servlet-class>admin.servlet.UpdateNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateNoticeServlet</servlet-name>
    <url-pattern>/updateNotice</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DeleteNoticeServlet</servlet-name>
    <servlet-class>admin.servlet.DeleteNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNoticeServlet</servlet-name>
    <url-pattern>/deleteNotice</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SelectByTeaPraiseInfo</servlet-name>
    <servlet-class>admin.servlet.SelectByTeaPraiseInfo</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SelectByTeaPraiseInfo</servlet-name>
    <url-pattern>/selectByTeaPraiseInfo</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SelectByCommentCouInfo</servlet-name>
    <servlet-class>admin.servlet.SelectByCommentCouInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectByCommentCouInfo</servlet-name>
    <url-pattern>/selectByCommentCouInfo</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SelectByCouClassStuInfo</servlet-name>
    <servlet-class>admin.servlet.SelectByCouClassStuInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectByCouClassStuInfo</servlet-name>
    <url-pattern>/selectByCouClassStuInfo</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddAdminServlet</servlet-name>
    <servlet-class>admin.servlet.AddAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdminServlet</servlet-name>
    <url-pattern>/addAdmin</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SearchByAdminNum</servlet-name>
    <servlet-class>admin.servlet.SearchByAdminNum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchByAdminNum</servlet-name>
    <url-pattern>/searchByAdminNum</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <servlet-class>admin.servlet.UpdateAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <url-pattern>/updateAdmin</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DeleteAdminServlet</servlet-name>
    <servlet-class>admin.servlet.DeleteAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAdminServlet</servlet-name>
    <url-pattern>/deleteAdmin</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SelectByAdminInfo</servlet-name>
    <servlet-class>admin.servlet.SelectByAdminInfo</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SelectByAdminInfo</servlet-name>
    <url-pattern>/selectByAdminInfo</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>loginCheck</servlet-name>
    <servlet-class>loginCheck.loginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginCheck</servlet-name>
    <url-pattern>/loginCheck</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>noticeBarList</servlet-name>
    <servlet-class>student.servlet.noticeBarList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>noticeBarList</servlet-name>
    <url-pattern>/noticeBarList</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>viewNoticeBarContent</servlet-name>
    <servlet-class>student.servlet.viewNoticeBarContent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewNoticeBarContent</servlet-name>
    <url-pattern>/viewNoticeBarContent</url-pattern>
  </servlet-mapping>

</web-app>
